SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://chamoda:@localhost:5432/fastapi_template
SQLALCHEMY_ECHO=False
LOG_LEVEL=DEBUG
SECRET_KEY=replace_me
SECURE_COOKIE=False
CORS_ORIGINS=http://localhost:3000

MAIL_USERNAME=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_PORT=1025
MAIL_SERVER="localhost"
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
MAIL_FROM="noreply@example.com"
MAIL_FROM_NAME="Test"
MAIL_USE_CREDENTIALS=False
MAIL_VALIDATE_CERTS=False

REDIS_URL="redis://localhost:6379/0"
